@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body {
    width: 100%;
    height: 0%;
}
.background-image {
  background-image: url("images/banner.jpg");
  background-position: center center;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}

/*for responsive banner*/
.background-image {
  width: 100%;
  height: 20%;
  text-align: center;
  position: relative;
}
.background-image {
  height : auto;
  width: 100%;
  text-align: center;
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
  opacity: 100%;
  background: rgba(61, 38, 38, 0.5);
}
.wrapper{
  width: 100%;
  border-radius: 20px;
}
.wrapper .title{
  height: 90px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
  border-radius: 5px;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color:  white;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: green;
  border-radius: 5px;
  border: 1px solid #16a085;
  cursor: pointer;
}
form .button input:hover{
  background: #12876f;
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
  color: white;
}
.wrapper form .signup-link a{
  color:white;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
